@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Koulen&family=Oswald&display=swap');

*{
    font-family: 'Koulen', cursive;
    color: #ffff;
}

body{
    margin: 0;
    background-color: #60ACCC;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora{
   display: grid;
   grid-template-columns: repeat(4,45px);
   grid-template-rows: 160px repeat(5,45px);
   background-color: #438D26;
   padding: 20px;
   border-radius: 35px;
   box-shadow: 20px 10px 5px grey;
}

button{
    margin: 2px;
    padding: 0;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
    background-color: #438D26;
    box-shadow: 5px 5px 10px -4px #00000040, -5px -5px 15px 3px #00ffc120;
    cursor: pointer; /* para cambiar el puntero(cursores) */

}

button:active{
    background-color: #0cacaec0;
}

button:focus{
    outline: none;
}

.col-2{
    grid-column: span 2;
}

.display{
    padding: 16px;
    display: flex;
    grid-column: 1 / -1;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 30px;
    background-color: #363636;
    text-align: right;
    justify-content: space-between;
    box-shadow: 0px 0px 0px 10px #00000033;
    word-break: break-all;
}

.header{
    margin: 1em 0;
    text-align: center;
    color: white;
    padding-top: 5px;
    width: 100%;
}

#valor-anterior{
    font-size: 2em;
}

footer{
    margin: 1em 0;
    font-size: 20px;
    text-align: center;
    color: white;
    padding-top: 5px;
    width: 100%;
}

#valor-actual{
    font-size: 1.5em;
}

